# Created by .ignore support plugin (hsz.mobi)
.idea/TeleCircuitBill.iml
.idea/artifacts/
.idea/inspectionProfiles/
src/test/java/cn/com/atnc/teleCircuitBill/project/system/contract/
target/classes/cn/
target/classes/finereport/
target/classes/mybatis/billmng/
target/classes/mybatis/changemng/
target/classes/mybatis/circuitmng/
target/classes/mybatis/contractmng/
target/classes/mybatis/costmng/
target/classes/mybatis/customerInfo/
target/classes/mybatis/system/BillownerMapper.xml
target/classes/mybatis/system/CusOwnerRelationMapper.xml
target/classes/mybatis/system/ExchangerateMapper.xml
target/classes/mybatis/system/TaxrateMapper.xml
target/classes/static/ajax/libs/multiselect/
target/classes/static/atnc.png
target/classes/static/atnc/
target/classes/static/css/fileinput/
target/classes/static/css/formSelects-v4.css
target/classes/static/file/50a68fd596fd310f67345ec64b95fd65.doc
target/classes/static/js/plugins/fileinput/
target/classes/static/js/plugins/formselects/
target/classes/static/js/plugins/multiselect/
target/classes/templates/billmng/
target/classes/templates/changemng/
target/classes/templates/circuitmng/
target/classes/templates/contractmng/
target/classes/templates/costmng/
target/classes/templates/customerInfo/
target/classes/templates/loginv2.html
target/classes/templates/system/billowner/
target/classes/templates/system/cusownermng/
target/classes/templates/system/exchangerate/
target/classes/templates/system/taxrate/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/surefire-reports/
target/teleCircuitBill.war
target/teleCircuitBill/
target/test-classes/
