<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
            <form id="caccessfee-form">
                <div class="select-list gd">
                    <ul>
                        <li>
                            站点位置：
                            <select name="siteArea" th:with="type=${@dict.getType('tele_site_area')}">
                                <option value="">所有</option>
                                <option th:each="e : ${type}" th:text="${e['dictLabel']}" th:value="${e['dictValue']}"></option>
                            </select>
                        </li>
                        <li>
                            币种：
                            <select name="currencyType" th:with="type=${@dict.getType('tele_currency_type')}">
                                <option value="">所有</option>
                                <option th:each="e : ${type}" th:text="${e['dictLabel']}" th:value="${e['dictValue']}"></option>
                            </select>
                        </li>
                        <li>
                            站点类型：
                            <select name="siteType" th:with="type=${@dict.getType('tele_site_type')}">
                                <option value="">所有</option>
                                <option th:each="e : ${type}" th:text="${e['dictLabel']}" th:value="${e['dictValue']}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group hidden-xs" id="toolbar" role="group">
            <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="netaccessmng:caccess:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()" shiro:hasPermission="netaccessmng:caccess:remove">
                <i class="fa fa-trash-o"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-info table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('netaccessmng:caccess:edit')}]];
    var removeFlag = [[${@permission.hasPermi('netaccessmng:caccess:remove')}]];
    var siteArea = [[${@dict.getType('tele_site_area')}]];
    var currencyType = [[${@dict.getType('tele_currency_type')}]];
    var siteType = [[${@dict.getType('tele_site_type')}]];
    var prefix = ctx + "costmng/netaccessmng/caccess";

    $(function() {
        var options = {
            id: 'cAccessFeeId',
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            search: false,
            showExport: false,
            modalName: 'C波段入网资费',
            columns: [
                {
                checkbox: true
                },
                {
                    field: 'siteArea',
                    title: '站点位置',
                    formatter: function(value, row, index) {
                        return $.table.selectDictData(siteArea, value);
                    }

                },
                {
                    field: 'currencyType',
                    title: '币种',
                    formatter: function(value, row, index) {
                        return $.table.selectDictData(currencyType, value);
                    }
                },
                {
                    field: 'siteType',
                    title: '站点类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictData(siteType, value);
                    }
                },
                {
                    field: 'siteAccessAmount',
                    title: '入网调试费',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.cAccessFeeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.cAccessFeeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

</script>
</body>
</html>