<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<!--fileInput 文件上传插件样式-->
<link th:href="@{/css/fileinput/fileinput.min.css}" rel="stylesheet" type="text/css"/>
<body class="white-bg">
<div th:include="include :: footer"></div>
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-file-upload">
        <input id="contractId" name="contractId" th:value="${contractId}"  type="hidden">
        <input id="elecDocumentName" name="elecDocumentName" type="hidden">
        <input id="elecDocumentPath" name="elecDocumentPath" type="hidden">
        <input id="scanDocumentName" name="scanDocumentName" type="hidden">
        <input id="scanDocumentPath" name="scanDocumentPath" type="hidden">
        <div class="form-group">
            <label class="col-sm-2 control-label">附件类型：</label>
            <div class="col-sm-10">
                <select id="attachmentType" name="attachmentType" class="form-control">
                    <option value="" selected="selected">请选择</option>
                    <option value="add">新增</option>
                    <option value="change">变更</option>
                </select>
            </div>
        </div>
        <!--<div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">请上传一份Word文件和一份PDF文件：</h4>
        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label">电子文档：</label>
            <div class="col-sm-10">
                <input type="file" name="elec_document" id="elec_document" multiple="multiple" class="file-loading" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">扫描文件：</label>
            <div class="col-sm-10">
                <input type="file" name="scan_document" id="scan_document" multiple="multiple" class="file-loading" />
            </div>
        </div>

        <div class="form-group">
            <div class="form-control-static col-sm-offset-10">
                <button  class="btn btn-primary" onclick="saveImport()">提交</button>
                <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
            </div>
        </div>
        附件信息表：
        <div class="col-sm-12 select-info table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<!--fileinput 文件上传插件 -->
<script th:src="@{/js/plugins/fileinput/fileinput.min.js}" ></script>
<script th:src="@{/js/plugins/fileinput/zh.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('contractmng:contract:edit')}]];
    var removeFlag = [[${@permission.hasPermi('contractmng:contract:remove')}]];
    var prefix = ctx + "contractmng/contractInfo";

    $(function () {
        var options = {
            id: "contractId",
            url: ctx + "contractmng/contractInfo/findContractAttachment",
            queryParams:paramsList,
            search: false,
            showExport: false,
            showToggle: false,
            removeUrl: ctx + "contractmng/contractInfo/removeattachs",
            updateUrl: ctx + "contractmng/contractInfo/editattach/{id}",
            showColumns: false,
            modalName: "附件",
            columns: [
                {
                    field: 'attachmentType',
                    title: '附件分类',
                    formatter: function(value, row, index) {

                        if (value=="add") {
                            return "新增";
                        }else if (value == "change"){
                            return "变更";
                        }
                    },
                    align: 'center'
                },
                {
                    field: 'uploadDate',
                    title: '上传日期',
                    align: 'center'

                },
                {
                    field: 'elecDocumentName',
                    title: '电子文档',
                    align: 'center',
                    formatter: function(value, row, index) {
                        //return ['<a href="/teleCircuitBill/profile/'+ row.elecDocumentPath +'" >' + value + '</a>'].join("");
                        let actions = [];
                        actions.push('<a href="#" onclick="downloadFile(\'' + row.elecDocumentPath + '\',\'elecFile\')">'+value+'</a> ');
                        return actions.join('');
                    }

                },
                {
                    field: 'scanDocumentName',
                    title: '扫描文件',
                    align: 'center',
                    formatter: function(value, row, index) {
                        //return ['<a href="/teleCircuitBill/profile/'+ row.scanDocumentPath +'" >' + value + '</a>'].join("");
                        let actions = [];
                        actions.push('<a href="#" onclick="downloadFile(\'' + row.scanDocumentPath + '\',\'scanFile\')">'+value+'</a> ');
                        return actions.join('');
                    }

                },
                {
                    field: 'contractType',
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.attachmentId + '\')"><i class="fa fa-edit"></i>编辑</a> <br>');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.attachmentId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }
            ]
        };

        function paramsList(params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                contractId: $("#contractId").val()
            };
            return temp;
        };

        $.table.init(options);

        //初始化fileinput
        var oFileInput = new FileInput();
        //参数1:控件id、参数2:上传地址
        var prefix = ctx + "contractmng/contractInfo";
        oFileInput.Init("elec_document", prefix+"/uploadfile");
        oFileInput.Init2("scan_document", prefix+"/uploadfile");
    });

    //初始化fileInput
    let FileInput = function () {
        let oFile = new Object();

        //初始化fileInput控件（第一次初始化）
        oFile.Init = function(ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);

            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                uploadExtraData: function (previewId, index) {           //自定义传参
                    var data = {
                        "contractId": $("#contractId").val(),
                    };
                    return data;
                },
                allowedFileExtensions: ['doc', 'docx'],//接收的文件后缀
                showUpload: true, //是否显示上传按钮
                showCaption: true,//是否显示标题
                showRemove :true,//是否显示移除按钮
                showPreview :false, //是否显示预览
                browseClass: "btn btn-primary", //按钮样式
                //dropZoneEnabled: false,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 1, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            });

            //word文件上传完成之后的事件
            $("#elec_document").on("fileuploaded", function (event, data, previewId, index) {
                if (data == undefined) {
                    alert('文件格式类型不正确');
                    return;
                }else {
                    $("#elecDocumentName").val(data.files[0].name);
                    $("#elecDocumentPath").val(data.response.elecDocumentPath);

                }
            });
        };


        //初始化fileinput控件（第一次初始化）
        oFile.Init2 = function(ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);

            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                uploadExtraData: function (previewId, index) {           //自定义传参
                    var data = {
                        "contractId": $("#contractId").val(),
                    };
                    return data;
                },
                allowedFileExtensions: ['pdf'],//接收的文件后缀
                showUpload: true, //是否显示上传按钮
                showCaption: true,//是否显示标题
                showRemove :true,//是否显示移除按钮
                showPreview :false, //是否显示预览
                browseClass: "btn btn-primary", //按钮样式
                //dropZoneEnabled: false,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 1, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            });

            //pdf文件上传完成之后的事件
            $("#scan_document").on("fileuploaded", function (event, data, previewId, index) {
                if (data == undefined) {
                    alert('文件格式类型不正确');
                    return;
                }else {
                    $("#scanDocumentName").val(data.files[0].name);
                    $("#scanDocumentPath").val(data.response.scanDocumentPath);

                }
            });
        };
        return oFile;
    };

    function saveImport() {
        if ($("#attachmentType").val()==null || $("#attachmentType").val()=="") {
            alert("请选择附件类型！");
            return false;
        }
        if ($("#elecDocumentName").val()==null || $("#elecDocumentName").val()=="") {
            alert("请上传电子文档！");
            return;
        }
       /*if ($("#scanDocumentName").val()==null || $("#scanDocumentName").val()=="") {
           alert("请上传扫描文件！");
           return;
       }*/

        $.ajax({
            url: prefix+"/addAttachment",
            type: "POST",
            data: {
                contractId: $("#contractId").val(),
                attachmentType: $("#attachmentType option:selected").val(),
                elecDocumentName:$("#elecDocumentName").val(),
                elecDocumentPath:$("#elecDocumentPath").val(),
                scanDocumentName:$("#scanDocumentName").val(),
                scanDocumentPath:$("#scanDocumentPath").val(),
            },
            error: function(request) {
                alert("excel提交出错，请重试！");
            },
            success: function (data) {
                alert("附件上传成功！");
                //关闭弹出框
                $.modal.close();
            }

        });
    }

    //下载附件
    function downloadFile(value,type) {
        let downloadUrl = prefix + "/download?type="+type+"&path="+value;
        window.location.href = downloadUrl;
    }
</script>
</body>
</html>