<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.atnc.teleCircuitBill.project.system.taxrate.mapper.TaxrateMapper">
    
    <resultMap type="Taxrate" id="TaxrateResult">
        <result property="id"    column="id"    />
        <result property="taxRateTime"    column="tax_rate_time"    />
        <result property="taxRate"    column="tax_rate"    />
        <result property="taxDescription"    column="tax_description"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isdel"    column="isdel"    />
    </resultMap>
	
	<sql id="selectTaxrateVo">
        select * from sys_taxrate
    </sql>
	
    <select id="selectTaxrateList" parameterType="Taxrate" resultMap="TaxrateResult">
        <include refid="selectTaxrateVo"/>
        <where>
            <if test="params != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(tax_rate_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(tax_rate_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
         </where>
    </select>
    
    <select id="selectTaxrateById" parameterType="String" resultMap="TaxrateResult">
        <include refid="selectTaxrateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTaxrate" parameterType="Taxrate">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(), '-', '')
        </selectKey>
        insert into sys_taxrate
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="taxRateTime != null ">tax_rate_time,</if>
			<if test="taxRate != null and taxRate != '' ">tax_rate,</if>
			<if test="taxDescription != null and taxDescription != '' ">tax_description,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="taxRateTime != null">#{taxRateTime},</if>
			<if test="taxRate != null and taxRate != ''">#{taxRate},</if>
			<if test="taxDescription != null and taxDescription != ''">#{taxDescription},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateTaxrate" parameterType="Taxrate">
        update sys_taxrate
        <trim prefix="SET" suffixOverrides=",">
            <if test="taxRateTime != null  ">tax_rate_time = #{taxRateTime},</if>
            <if test="taxRate != null  ">tax_rate = #{taxRate},</if>
            <if test="taxDescription != null  and taxDescription != ''  ">tax_description = #{taxDescription},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTaxrateById" parameterType="String">
        delete from sys_taxrate where id = #{id}
    </delete>

    <delete id="deleteTaxrateByIds" parameterType="String">
        delete from sys_taxrate where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>