<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.atnc.teleCircuitBill.project.contractmng.contractInfo.mapper.AttachmentMapper">

    <resultMap type="ContractAttachment" id="ContractAttachmentResult">
        <id     property="attachmentId"       column="id"/>
        <result property="attachmentType"    column="attachment_type"/>
        <result property="uploadDate"    column="upload_date"/>
        <result property="elecDocumentName"    column="elec_document_name"/>
        <result property="elecDocumentPath"    column="elec_document_path"/>
        <result property="scanDocumentName"     column="scan_document_name"    />
        <result property="scanDocumentPath"   column="scan_document_path"  />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="isdel"   column="isdel"  />
        <association property="contractInfo" column="contract_id" javaType="ContractInfo" resultMap="ContractInfoResult" />
    </resultMap>

    <resultMap type="ContractInfo" id="ContractInfoResult">
        <id     property="contractId"   column="id"/>
    </resultMap>

    <sql id="selectContractAttachmentVo">
        select *
		from tele_contract_attachment where isdel=0
    </sql>

    <select id="findAttachmentByContractId" parameterType="String" resultMap="ContractAttachmentResult">
        select a.*,b.id from tele_contract_attachment a
        left join tele_contract_info b
        on a.contract_id=b.id
        where a.contract_id = #{contractId} and a.isdel=0 order by a.upload_date desc
    </select>

    <select id="findAttachmentById" parameterType="String" resultMap="ContractAttachmentResult">
        select * from tele_contract_attachment
        where id = #{attachmentId} and isdel=0
    </select>

    <select id="findAttachmentByElecDocumentPath" parameterType="String" resultMap="ContractAttachmentResult">
        select * from tele_contract_attachment
        where elec_document_path = #{path} and isdel=0
    </select>

    <select id="findAttachmentByScanDocumentPath" parameterType="String" resultMap="ContractAttachmentResult">
        select * from tele_contract_attachment
        where scan_document_path = #{path} and isdel=0
    </select>

    <insert id="insertContractAttachment" parameterType="ContractAttachment">
        <selectKey keyProperty="attachmentId" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(), '-', '')
        </selectKey>
        insert into tele_contract_attachment(
        <if test="attachmentId != null and attachmentId != ''">id,</if>
        <if test="contractInfo != null and contractInfo.contractId != ''">contract_id,</if>
        <if test="attachmentType != null and attachmentType != ''">attachment_type,</if>
        <if test="elecDocumentName != null and elecDocumentName != ''">elec_document_name,</if>
        <if test="elecDocumentPath != null and elecDocumentPath != ''">elec_document_path,</if>
        <if test="scanDocumentName != null and scanDocumentName != ''">scan_document_name,</if>
        <if test="scanDocumentPath != null and scanDocumentPath != ''">scan_document_path,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        upload_date,
        create_time
        )values(
        <if test="attachmentId != null and attachmentId != ''">#{attachmentId},</if>
        <if test="contractInfo != null and contractInfo.contractId != ''">#{contractInfo.contractId},</if>
        <if test="attachmentType != null and attachmentType != ''">#{attachmentType},</if>
        <if test="elecDocumentName != null and elecDocumentName != ''">#{elecDocumentName},</if>
        <if test="elecDocumentPath != null and elecDocumentPath != ''">#{elecDocumentPath},</if>
        <if test="scanDocumentName != null and scanDocumentName != ''">#{scanDocumentName},</if>
        <if test="scanDocumentPath != null and scanDocumentPath != ''">#{scanDocumentPath},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(),
        sysdate()
        )
    </insert>

    <update id="updateAttachment" parameterType="ContractAttachment">
        update tele_contract_attachment
        <set>
            <if test="attachmentType != null and attachmentType != ''">attachment_type = #{attachmentType},</if>
            <if test="elecDocumentName != null and elecDocumentName != ''">elec_document_name = #{elecDocumentName},</if>
            <if test="elecDocumentPath != null and elecDocumentPath != ''">elec_document_path = #{elecDocumentPath},</if>
            <if test="scanDocumentName != null and scanDocumentName != ''">scan_document_name = #{scanDocumentName},</if>
            <if test="scanDocumentPath != null and scanDocumentPath != ''">scan_document_path = #{scanDocumentPath},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{attachmentId}
    </update>

    <delete id="removeContractAttachmentById" parameterType="String">
        delete from tele_contract_attachment
        where id= #{id}
    </delete>
</mapper>