<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.atnc.project.customerInfo.countrys.mapper.CountryMapper">

    <resultMap type="Country" id="CountryResult">
        <id     property="countryId"       column="country_id"/>
        <result property="countryCN"       column="countryCN"/>
        <result property="countryEN"    column="countryEN"/>
        <result property="countryCode"     column="country_code"/>
        <result property="aviationCode"        column="aviation_code"/>
        <result property="continent"    column="continent"/>
        <result property="creatime"    column="creatime" />
        <result property="updtime" column="updtime" />
    </resultMap>


    <sql id="selectCountryVo">
        select  country_id,countryCN,countryEN,country_code,aviation_code,continent
		from cus_country
    </sql>

    <select id="selectCountryList" parameterType="Country" resultMap="CountryResult">
        <include refid="selectCountryVo"/>
        <where>
            <if test="countryName != null and countryName != ''">
                AND countryCN like concat('%', #{countryName}, '%') or countryEN like concat('%', #{countryName}, '%')
            </if>
            <if test="countryCode != null and countryCode != ''">
                AND countryCode  like concat('%', #{countryCode}, '%')
            </if>
            <if test="continent != null and continent != ''">
                AND continent  like concat('%', #{continent}, '%')
            </if>
        </where>
    </select>

    <select id="selectCountryByCountryName" parameterType="String" resultMap="CountryResult">
        <include refid="selectCountryVo"/>
        where countryCN like concat('%', #{countryName}, '%') or countryEN like concat('%', #{countryName}, '%')
    </select>


    <insert id="insertCountry" parameterType="Country">
        insert into cus_country(
        <if test="countryId != null and countryId != 0 ">country_id,</if>
        <if test="countryCN != null and countryCN != '' ">countryCN, </if>
        <if test="countryEN != null and countryEN != '' ">countryEN, </if>
        <if test="countryCode != null and countryCode != '' ">country_code, </if>
        <if test="aviationCode != null and status != '' ">aviation_code, </if>
        <if test="continent != null and continent != ''">continent,</if>
        )values(
        <if test="countryId != null and countryId != 0 ">#{countryId},</if>
        <if test="countryCN != null and countryCN != ''">#{countryCN}, </if>
        <if test="countryEN != null and countryEN != ''">#{countryEN}, </if>
        <if test="countryCode != null and countryCode != ''">#{countryCode}, </if>
        <if test="aviationCode != null and aviationCode != ''">#{aviationCode}, </if>
        <if test="continent != null and continent != ''">#{continent},</if>
        )
    </insert>


</mapper>