<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.atnc.project.customerInfo.countrys.mapper.CountryMapper">

    <resultMap type="Country" id="CountryResult">
        <id     property="countryId"       column="country_id"/>
        <result property="countryCN"       column="countryCN"/>
        <result property="countryEN"    column="countryEN"/>
        <result property="countryCode"     column="country_code"/>
        <result property="aviationCode"        column="aviation_code"/>
        <result property="continent"    column="continent"/>
        <result property="createTime"    column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>


    <sql id="selectCountryVo">
        select country_id,countryCN,countryEN,country_code,aviation_code,continent,create_time,update_time
		from cus_country
    </sql>

    <select id="selectCountryList" parameterType="Country" resultMap="CountryResult">
        <include refid="selectCountryVo"/>
        <where>
            <if test="continent != null and continent != ''">
                AND continent  like concat('%', #{continent}, '%')
            </if>
            <if test="countryName != null and countryName != ''">
                AND countryCN like concat('%', #{countryName}, '%') or countryEN like concat('%', #{countryName}, '%')
            </if>
        </where>
    </select>

    <select id="selectCountryByCountryName" parameterType="String" resultMap="CountryResult">
        <include refid="selectCountryVo"/>
        where countryCN like concat('%', #{countryName}, '%') or countryEN like concat('%', #{countryName}, '%')
    </select>

    <select id="selectCountryById" parameterType="Long" resultMap="CountryResult">
        <include refid="selectCountryVo"/>
        where country_id = #{countryId}
    </select>

    <insert id="insertCountry" parameterType="Country">
        insert into cus_country(
        <if test="countryId != null and countryId != 0 ">country_id,</if>
        <if test="countryCN != null and countryCN != '' ">countryCN,</if>
        <if test="countryEN != null and countryEN != '' ">countryEN,</if>
        <if test="countryCode != null and countryCode != '' ">country_code,</if>
        <if test="aviationCode != null and aviationCode != '' ">aviation_code,</if>
        <if test="continent != null and continent != ''">continent,</if>
        create_time
        )values(
        <if test="countryId != null and countryId != 0 ">#{countryId},</if>
        <if test="countryCN != null and countryCN != ''">#{countryCN},</if>
        <if test="countryEN != null and countryEN != ''">#{countryEN},</if>
        <if test="countryCode != null and countryCode != ''">#{countryCode},</if>
        <if test="aviationCode != null and aviationCode != ''">#{aviationCode},</if>
        <if test="continent != null and continent != ''">#{continent},</if>
        getdate()
        )
    </insert>

    <update id="updateCountry" parameterType="Country">
        update cus_country
        <set>
            <if test="countryId != null and countryId != 0 ">country_id = #{countryId},</if>
            <if test="countryCN != null and countryCN != '' ">countryCN = #{countryCN},</if>
            <if test="countryEN != null and countryEN != '' ">countryEN = #{countryEN},</if>
            <if test="countryCode != null and countryCode != '' ">country_code = #{countryCode},</if>
            <if test="aviationCode != null and aviationCode != '' ">aviation_code = #{aviationCode},</if>
            <if test="continent != null and continent != ''">continent = #{continent},</if>
            update_time = getdate()
        </set>
        where country_id = #{countryId}
    </update>

    <delete id="deleteCountryByIds" parameterType="String">
        delete from cus_country where country_id in
        <foreach item="countryId" collection="array" open="(" separator="," close=")">
            #{countryId}
        </foreach>
    </delete>

</mapper>